.main-div {
  padding: 40px;
  padding-top: 80px;
}

#warning-filter {
  color: red;
}

#warning .hidden {
  visibility: hidden;
}

.row-category {
  margin-top: 15px;
}

.color-red {
  color: #B71C1C;
}

.color-blue {
  color: #1A237E;
}
